#bordePokedex{
    background-color: rgb(226, 222, 222);
    height: 100%;
    position: fixed;
}

#pantallaPokedex{
    background-color: white;
    height: 100%;
    
}

#datosPantalla{  
    
    padding-bottom: 5;
}

#flecha{
    color: black;
    
}

nav{
    
}

#ordenarPor{
    margin-left: auto; 
    margin-right: 0;
}

.card {

    width: 15%;
}

.card-img-top {

    position:relative;
    left: 35%;
    bottom: 58px;
}